div.main {
    border: 2px solid lightblue;
    border-radius: 5px;
    padding: 10px 0 30px 0;
    background-color: aliceblue;
}

form {
    margin: 10px 0 30px 0;
}

div {
    text-align: center;
}

img {
    display: block;
    width: 60%;
    margin: 0 auto;
    border: 2px solid blue;
    border-radius: 50%;
}

input[type="submit"] {
    font-weight: bold;
}

label[for="anime"] {
    font-style: italic;
}

#anime-fact {
    margin: 30px 20px 0 20px;
}